# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book
jupyterbook-patches
download_link_replacer
jupyter-book==0.14.0
sphinx==5.3.0
myst-nb==0.17.2
# numpy

# docutils version for reference page formatting
docutils==0.17.1

git+https://github.com/TeachBooks/Sphinx-Thebe



